@import "../../assets/styles/styles.scss";

.header {
  display: flex;
  align-items: center;
  background-color: $primaryColor;
  height: 50px;
  h3 {
    color: $secondaryColor2;
    font-style: bold;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-user-item {
  color: $secondaryColor2;
}

.header-divider {
  background-color: $secondaryColor2;
  height: 20px;
  width: 2px;
  margin: 0px 20px;
}
