// colors
$primaryColor: #7ac751;
$secondaryColor: #ff4500;
$secondaryColor2: #f7f8fa;
$mainBackgroundColor: #ffffff;
$fontsPrimaryColor: #555555;
$fontsSecondaryColor: #515151;

//fonts
$mainFontFamily: Verdana, Geneva, Tahoma, sans-serif;
